<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- External  CSS -->
        {{!-- <link rel="stylesheet" href="styles.css"> --}}

        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Bootstrap Scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
       body {
  background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/11/Calm-Full-HD-Wallpaper.jpg");

  background-color: #ECF2FF;
  background-size: cover;

}


.colored-section {
  background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/11/Calm-Full-HD-Wallpaper.jpg");
  /* The image used */
  background-color: #E8E2E2;
  /* Used if the image is unavailable */
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  color:white;
}



.navbar {
  margin-top: 30px;
  font-weight: bolder;
  font-family: "Montserrat-Bold";
}

.giantt {
  /* width:auto;
    height:400px; */
  max-width: 40%;
}

#features {
  position: relative;
  background-color: whitesmoke;
  color: black;
}
.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #92B4EC;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #1C6DD0;
}

#features {
  padding: 40px;
  text-align: center;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
}

.testimonial-text {
  padding-top: 120px;
  font-size: 2rem;
  line-height: 1.5;
  margin-right: 100px;
  margin-left: 100px;
  /* font-family: "Montserrat-bold"; */
  color: white;

}

.name {
  font-size: larger;
  font-weight: bolder;
  /* margin-top: 15px; */
  color: white;
}

.testimonial-image {

  height: auto;
  max-width: 24%;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /* height:450px;
    padding:50px; */
  margin-top: 30px;
  margin-bottom: 20px;
}

.container-fluid {
  padding-bottom: 0px;
}

/* call to action section */
#cta {
  padding: 80px;
  text-align: center;
  background-color: whitesmoke;
}

.big-heading {
  padding: 30px;
}


/* Footer Section */

#footer {
  text-align: center;
  height: fit-content;
  padding: 30px;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.main {
    padding: 15px;
    font-family: "";
}
.card-body{
    padding:1rem;
}
.card {
    position:relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 0;
}

.content {
    background-color:#;
}

.row {
    padding-left: 350px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 30px;
} 

.side-head {
    padding: 5px;
    font-family: "Montserrat-Bold";
}

.side {
    padding: 10px;
    font-family: "Montserrat";
}

.side-2 {
    padding: 15px;
} */
/* 
.part2 {
    margin-top: 0px;
}*/
.navbar {
  margin-top: 30px;
  font-weight: bolder;
  font-family: "Montserrat-Bold";
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.yeah{
    padding-top:20px;
}
    </style>
    </head>

    <body>
        {{>Navbar}}
        <section class="yeah">
        <div class="card">
            <img src="/public/user.png" alt="User" style="width:100%">
            <h1>UserName</h1>
            <p class="title">New User</p>
            <p>Harvard University</p>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <p><button>Contact</button></p>
         </div>
         
            
        </section>
    </body>

</html>